

body {
  background-color: #555;
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

   background-color:none;
   font-family:Verdana, Arial, Helvetica, sans-serif;
   padding-top: 5rem;
}

/******************** Nav bar ********************/

.nav-item > a{
color:white !important;
font-size:20px;
margin-right:30px;
}

.btn-outline-success{
border-color: #96935F;
color: #96935F;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #96935F;
  border-color: #96935F;
}
.btn:focus, .btn:hover {
  text-decoration: none;
}

/********************** home page *****************************/
body.home {
    background: url('https://github.com/watzek/ac2/blob/master/images/hm6.jpg?raw=true') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
#slogan{
color:white;
background-color:transparent;
text-align: center;


}


/***************** interior **********************************/
h2{color:white;}
